ServerWizard {
    align: center middle;
}

#wizard > Container {
  height: auto;
  max-width: 60;
}

#wizard {
    max-width: 60;
    border: round $primary;
    border-title-align: center;
    padding: 1 2;
}

#wizard Static {
    text-align: center;
}

#wizard Input {
    margin: 1 0;
}

#wizard Button {
    width: 100%;
}

#wizard RadioSet {
    margin: 1 0;
}

#cancel-button {
    dock: top;
    width: auto;
    margin: 1;
}
